# CityBikes

***Data Source:  [CityBikes](https://citybik.es/) API***

In [1]:
#libraries
import pandas as pd
import requests 
import numpy as np

***Importing and Exploring the data***

In [43]:
url="http://api.citybik.es/v2/networks"
headers = {"accept": "application/json"}
response=requests.get(url,headers=headers)
if response.status_code!=200:
    print("Request Failed")

In [ ]:
data=response.json()
networks=pd.json_normalize(data['networks'])

In [8]:
networks.head()

,company,href,id,name,location.city,location.country,location.latitude,location.longitude,source,gbfs_href,license.name,license.url,ebikes
0,[ЗАО «СитиБайк»],/v2/networks/velobike-moscow,velobike-moscow,Velobike,Moscow,RU,55.750000,37.616667,NaN,NaN,NaN,NaN,NaN
1,[Urban Infrastructure Partner],/v2/networks/baerum-bysykkel,baerum-bysykkel,Bysykkel,Bærum,NO,59.894550,10.546343,NaN,NaN,NaN,NaN,NaN
2,[Comunicare S.r.l.],/v2/networks/bicincitta-siena,bicincitta-siena,Bicincittà,Siena,IT,43.318600,11.330600,https://www.bicincitta.com/frmLeStazioni.aspx?...,NaN,NaN,NaN,NaN
3,[Cyclopolis Systems],/v2/networks/cyclopolis-maroussi,cyclopolis-maroussi,Cyclopolis,Maroussi,GR,38.056872,23.808330,NaN,NaN,NaN,NaN,NaN
4,[Cyclopolis Systems],/v2/networks/cyclopolis-nafplio,cyclopolis-nafplio,Cyclopolis,Nafplio,GR,37.563940,22.809340,NaN,NaN,NaN,NaN,NaN

In [21]:
networks.to_csv('../data/raw_networks.csv', index=False)

In [15]:
networks.shape

(590, 13)

In [14]:
networks.columns

Index(['company', 'href', 'id', 'name', 'location.city', 'location.country',
       'location.latitude', 'location.longitude', 'source', 'gbfs_href',
       'license.name', 'license.url', 'ebikes'],
      dtype='object')

In [9]:
networks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590 entries, 0 to 589
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   company             579 non-null    object
 1   href                590 non-null    object
 2   id                  590 non-null    object
 3   name                590 non-null    object
 4   location.city       590 non-null    object
 5   location.country    590 non-null    object
 6   location.latitude   590 non-null    float64
 7   location.longitude  590 non-null    float64
 8   source              158 non-null    object
 9   gbfs_href           89 non-null     object
 10  license.name        25 non-null     object
 11  license.url         25 non-null     object
 12  ebikes              25 non-null     object
dtypes: float64(2), object(11)
memory usage: 60.0+ KB

In [13]:
networks.isnull().sum()

company                11
href                    0
id                      0
name                    0
location.city           0
location.country        0
location.latitude       0
location.longitude      0
source                432
gbfs_href             501
license.name          565
license.url           565
ebikes                565
dtype: int64

In [23]:
networks_df=networks.copy()

In [25]:
networks_df['ebikes'].value_counts()

True    25
Name: ebikes, dtype: int64

***Note:*** Here we assume missing values as 'False' for 'ebikes' column

In [27]:
networks_df['ebikes'] = networks_df['ebikes'].fillna(False)

In [30]:
networks_df['license.url'].value_counts()

https://developer.jcdecaux.com/#/opendata/licence             22
https://www.govdata.de/dl-de/by-2-0                            1
etalab.gouv.fr/wp-content/uploads/2018/11/open-licence.pdf     1
https://opendatacommons.org/licenses/odbl/                     1
Name: license.url, dtype: int64

In [31]:
networks_df['license.name'].value_counts()

Open Licence                                          22
Data licence Germany – attribution – version 2.0       1
OPEN LICENCE 2.0                                       1
Open Data Commons Open Database License 1.0 (ODbL)     1
Name: license.name, dtype: int64

In [32]:
networks_df['gbfs_href'].value_counts()

                                                                  2
https://asp.publicbikesystem.net/ube/gbfs/v1/gbfs.json            1
https://gbfs.baywheels.com/gbfs/gbfs.json                         1
https://api.gbfs.v1.ecovelo.mobi/gbfs/marseillan                  1
https://api.gbfs.v1.ecovelo.mobi/gbfs/tanlib                      1
                                                                 ..
https://gbfs.bcycle.com/bcycle_indego/gbfs.json                   1
https://gbfs.bluebikes.com/gbfs/gbfs.json                         1
https://gbfs.bcycle.com/bcycle_houston/gbfs.json                  1
https://gbfs.bcycle.com/bcycle_heartland/gbfs.json                1
https://tucson.publicbikesystem.net/customer/gbfs/v2/gbfs.json    1
Name: gbfs_href, Length: 88, dtype: int64

In [33]:
networks_df['source'].value_counts()

https://developer.jcdecaux.com                          22
https://api.publibike.ch/v1/static/api.html              8
https://www.bicincitta.com/frmLeStazioni.aspx?ID=202     1
https://www.bicincitta.com/frmLeStazioni.aspx?ID=229     1
https://www.bicincitta.com/frmLeStazioni.aspx?ID=106     1
                                                        ..
https://www.bicincitta.com/frmLeStazioni.aspx?ID=138     1
https://www.bicincitta.com/frmLeStazioni.aspx?ID=126     1
https://www.bicincitta.com/frmLeStazioni.aspx?ID=141     1
https://www.bicincitta.com/frmLeStazioni.aspx?ID=134     1
https://www.bicincitta.com/frmLeStazioni.aspx?ID=275     1
Name: source, Length: 130, dtype: int64

In [34]:
networks_df['company'].value_counts()

[Nextbike GmbH]                                          221
[Comunicare S.r.l.]                                      123
[JCDecaux]                                                22
[Cyclopolis Systems]                                      16
[BCycle, LLC]                                             16
                                                        ...
[Keolis]                                                   1
[Keolis Bordeaux Métropole]                                1
[Keolis, Rennes Metropole]                                 1
[BKT bici publica S.A. de C.V., PBSC Urban Solutions]      1
[PBSC Urban Solutions, Shift Transit]                      1
Name: company, Length: 90, dtype: int64

In [39]:
networks_df[networks_df['company'].isnull()]

,company,href,id,name,location.city,location.country,location.latitude,location.longitude,source,gbfs_href,license.name,license.url,ebikes
34,None,/v2/networks/velib,velib,Vélib' Métropole,Paris,FR,48.856614,2.352222,NaN,https://velib-metropole-opendata.smoove.pro/op...,OPEN LICENCE 2.0,etalab.gouv.fr/wp-content/uploads/2018/11/open...,True
43,None,/v2/networks/ecobici,ecobici,EcoBici,Cd de México,MX,19.432608,-99.133208,NaN,https://gbfs.mex.lyftbikes.com/gbfs/gbfs.json,NaN,NaN,False
72,None,/v2/networks/bicicorunha,bicicorunha,Bicicoruña,A Coruña,ES,43.362300,-8.411500,NaN,https://acoruna.publicbikesystem.net/customer/...,NaN,NaN,False
131,None,/v2/networks/oslo-bysykkel,oslo-bysykkel,Bysykkel,Oslo,NO,59.913869,10.752245,NaN,https://gbfs.urbansharing.com/oslobysykkel.no/...,NaN,NaN,False
132,None,/v2/networks/bergen-bysykkel,bergen-bysykkel,Bysykkel,Bergen,NO,60.391263,5.322054,NaN,https://gbfs.urbansharing.com/bergenbysykkel.n...,NaN,NaN,False
133,None,/v2/networks/trondheim-bysykkel,trondheim-bysykkel,Bysykkel,Trondheim,NO,63.430724,10.393678,NaN,https://gbfs.urbansharing.com/trondheimbysykke...,NaN,NaN,False
430,None,/v2/networks/bikeverona,bikeverona,Verona Bike,Verona,IT,45.438611,10.992778,NaN,https://gbfs.urbansharing.com/bikeverona.it/gb...,NaN,NaN,False
437,None,/v2/networks/optymo,optymo,Optymo,Belfort,FR,47.641111,6.849444,NaN,https://belfort-gbfs.klervi.net/gbfs/gbfs.json,NaN,NaN,False
522,None,/v2/networks/velocity-aachen,velocity-aachen,Velocity,Aachen,DE,50.776667,6.083611,NaN,https://nitro.openvelo.org/aachen/velocity/v2/...,NaN,NaN,False
523,None,/v2/networks/avelo-quebec,avelo-quebec,àVélo,Québec,CA,46.813050,-71.216800,NaN,https://quebec.publicbikesystem.net/customer/g...,NaN,NaN,False
524,None,/v2/networks/acces-velo-saguenay,acces-velo-saguenay,Accès Vélo,Saguenay,CA,48.433333,-71.083333,NaN,https://saguenay.publicbikesystem.net/customer...,NaN,NaN,False

In [47]:
networks_df.duplicated(['href', 'id', 'name', 'location.city', 'location.country','location.latitude', 'location.longitude']).value_counts()

False    590
dtype: int64

In [43]:
networks_df['id'].value_counts().sort_values(ascending=False)

velobike-moscow       1
ascoli-piceno         1
cyclopolis-limnos     1
bicincitta-mantova    1
bicincitta-siena      1
                     ..
bealler               1
albabici              1
bicialcazar           1
tallinja-bike         1
nextbike-prerov       1
Name: id, Length: 590, dtype: int64

***Note:*** We will drop those columns having more than 70% values are NULL and we could not find the any significant pattern in values to fill in. If in future we need these columns in our analysis we can import these from our 'raw_networks' backup

***Note:*** We will not drop 'company' column as no of null values are very low

In [51]:
networks_df.drop(['source', 'gbfs_href', 'license.name', 'license.url'], axis=1,inplace=True)

In [52]:
networks_df.shape

(590, 9)

***Note:*** Rename the column to give more decent names

In [57]:
networks_df.rename(columns={"location.city": "city","location.country": "country", "location.latitude": "latitude","location.longitude":"longitude"},inplace=True)

In [59]:
networks_df.head()

,company,href,id,name,city,country,latitude,longitude,ebikes
0,[ЗАО «СитиБайк»],/v2/networks/velobike-moscow,velobike-moscow,Velobike,Moscow,RU,55.750000,37.616667,False
1,[Urban Infrastructure Partner],/v2/networks/baerum-bysykkel,baerum-bysykkel,Bysykkel,Bærum,NO,59.894550,10.546343,False
2,[Comunicare S.r.l.],/v2/networks/bicincitta-siena,bicincitta-siena,Bicincittà,Siena,IT,43.318600,11.330600,False
3,[Cyclopolis Systems],/v2/networks/cyclopolis-maroussi,cyclopolis-maroussi,Cyclopolis,Maroussi,GR,38.056872,23.808330,False
4,[Cyclopolis Systems],/v2/networks/cyclopolis-nafplio,cyclopolis-nafplio,Cyclopolis,Nafplio,GR,37.563940,22.809340,False

In [60]:
networks_df.isnull().sum()

company      11
href          0
id            0
name          0
city          0
country       0
latitude      0
longitude     0
ebikes        0
dtype: int64

In [61]:
networks_df['country'].value_counts().sort_values(ascending=False)

IT    128
DE     80
FR     49
ES     39
US     36
GR     31
CZ     27
HR     26
PL     23
CH     18
AT     18
BR     17
GB     10
SI      8
CA      6
IE      5
SK      5
NO      5
BE      4
RO      4
MX      4
UA      4
TR      4
RU      3
CY      3
BA      3
SE      3
KZ      3
FI      2
LU      2
MT      2
AR      2
NZ      2
PT      1
LT      1
NL      1
CO      1
GE      1
ME      1
HU      1
JP      1
TH      1
CL      1
MC      1
LV      1
AE      1
IL      1
Name: country, dtype: int64

In [86]:
networks_df['city'].value_counts().sort_values(ascending=False)

Calais                     2
Bergamo                    2
Bratislava                 2
São Paulo                  2
Ljubljana                  2
                          ..
Aller                      1
Albacete                   1
Alcázar de San Juan        1
Valletta - Malta - Gozo    1
Prerov                     1
Name: city, Length: 583, dtype: int64

***Note:*** Change the datatype of the column

In [75]:
networks_df['ebikes'].astype('bool')

0      False
1      False
2      False
3      False
4      False
       ...
585    False
586    False
587    False
588    False
589    False
Name: ebikes, Length: 590, dtype: bool

In [76]:
networks_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590 entries, 0 to 589
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   company    579 non-null    object
 1   href       590 non-null    object
 2   id         590 non-null    object
 3   name       590 non-null    object
 4   city       590 non-null    object
 5   country    590 non-null    object
 6   latitude   590 non-null    float64
 7   longitude  590 non-null    float64
 8   ebikes     590 non-null    bool
dtypes: bool(1), float64(2), object(6)
memory usage: 37.6+ KB

***Note:***
- At this stage we consider our dataframe cleaned.It contains some Null values in company column but we can ignore those at this stage as we are more interested in rest of the column values.
- Save the cleaned Dataframe into csv file

In [63]:
networks_df.to_csv('../data/networks.csv', index=False)

***Note:*** Just a quick check for the backup

In [2]:
df=pd.read_csv('../data/networks.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590 entries, 0 to 589
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   company    579 non-null    object
 1   href       590 non-null    object
 2   id         590 non-null    object
 3   name       590 non-null    object
 4   city       590 non-null    object
 5   country    590 non-null    object
 6   latitude   590 non-null    float64
 7   longitude  590 non-null    float64
 8   ebikes     590 non-null    bool
dtypes: bool(1), float64(2), object(6)
memory usage: 37.6+ KB

***Note:*** It seems perfect

In [3]:
#networks_df=df.copy()

***Send a request to CityBikes for the city of your choice.***

- The City of my choice is ***New York***
- Lets first check if that city exists in networks data

In [7]:
networks_df[networks_df['city'].str.contains('New York'.strip(),case=False)]

,company,href,id,name,city,country,latitude,longitude,ebikes
97,"['NYC Bike Share, LLC', 'Motivate Internationa...",/v2/networks/citi-bike-nyc,citi-bike-nyc,Citi Bike,"New York, NY",US,40.714353,-74.005973,True

***Note:*** As we can see there is only one network corresponding to ***'New York'*** city, so to make this statistical journey more exciting I choose some other city having more than one networks.
- Therefore I choose beautiful city of ***France*** named ***Calais*** famous for fishing.

In [4]:
city_networks=networks_df[networks_df['city'].str.contains('Calais'.strip(),case=False)]
city_networks

,company,href,id,name,city,country,latitude,longitude,ebikes
182,['Veolia'],/v2/networks/vel-in,vel-in,Vél'in,Calais,FR,50.950000,1.850000,False
414,['Ecovelo'],/v2/networks/velectin,velectin,Velect’in,Calais,FR,50.948056,1.856389,True

In [5]:
stations=pd.DataFrame()
for index, row in city_networks.iterrows():
    try:
        url=f"http://api.citybik.es/v2/networks/{row['id']}?fields=stations,location"
        headers = {"accept": "application/json"}
        response=requests.get(url,headers=headers)
        response.raise_for_status()
        data_temp=response.json()
        st=pd.json_normalize(data_temp['network']['stations'])
        st['network_id']=row['id']
        stations=pd.concat([stations,st], ignore_index=True)
    except requests.exceptions.HTTPError as errh:
        print("HTTP Error")
        print(errh.args[0])
stations

,empty_slots,free_bikes,id,latitude,longitude,name,timestamp,extra.online,extra.slots,extra.slots_available,extra.uid,network_id,extra.address,extra.last_updated,extra.renting,extra.returning
0,0,0,116978dc6ed165d95a1ce386466bf165,50.946176,1.891176,a,2023-09-24T17:27:39.840000Z,False,0,0.0,52,vel-in,NaN,NaN,NaN,NaN
1,0,0,3b58c82f8aca0fd26a55dd5fcb82f9ec,50.960770,1.873922,b,2023-09-24T17:27:39.842000Z,False,0,0.0,54,vel-in,NaN,NaN,NaN,NaN
2,15,0,fedaa58e592a7e4156cf9f89e3f44560,50.946609,1.858303,01 : Lafayette,2023-09-24T17:27:39.764000Z,True,15,15.0,1,vel-in,NaN,NaN,NaN,NaN
3,17,1,a75dfb30a2a5e87b7ad50863923461ce,50.947377,1.853769,02 : Théatre,2023-09-24T17:27:39.774000Z,True,18,18.0,2,vel-in,NaN,NaN,NaN,NaN
4,25,2,9723c2436cfc9652882bf1b7c7e182e7,50.953303,1.851278,04 : Gare SNCF,2023-09-24T17:27:39.775000Z,True,27,27.0,4,vel-in,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,10,0,5f71f7dfa65b9d9262f2f966f3f481aa,50.936090,1.800010,COQUELLES,2023-09-24T17:28:27.876000Z,NaN,10,NaN,stn_8WQURqherzFNRsNbRKGR5c,velectin,,1.695577e+09,True,True
65,5,0,df6340be3e22aafbeb98c0f9a33567aa,50.952317,1.879304,UNIVERSITE,2023-09-24T17:28:27.876000Z,NaN,5,NaN,stn_8JrAxETvjn2MiNYLfpuo47,velectin,,1.695577e+09,True,True
66,15,0,18885eecc620dfb8247e4b965eea7094,50.964960,1.843470,PLUVIOSE,2023-09-24T17:28:27.870000Z,NaN,15,NaN,stn_ZJGSvopEf7JCjhEknQLRvM,velectin,,1.695577e+09,True,True
67,5,0,0272a902cd9247078766c259f2ae3e1d,50.953262,1.850975,Gare SNCF,2023-09-24T17:28:27.873000Z,NaN,5,NaN,stn_Uzajj3jSxz9fnNyxZZpqgC,velectin,,1.695577e+09,True,True
68,9,1,1b484820df4753450d86331715b0eed7,50.949146,1.956255,MAIRIE DE MARCK,2023-09-24T17:28:27.875000Z,NaN,10,NaN,stn_AxsPJEA5S6naCgBYzdXQ8m,velectin,,1.695577e+09,True,True

***Note:*** save this data into csv file for backup

In [6]:
stations.to_csv('../data/raw_stations.csv', index=False)

***Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).***

***Note:*** we will create a new DataFrame having only the fields of interest to make it simple and easy. Later on at any point if we find the requirement of any other column we can import it from the raw_stations backup

In [7]:
stations.columns

Index(['empty_slots', 'free_bikes', 'id', 'latitude', 'longitude', 'name',
       'timestamp', 'extra.online', 'extra.slots', 'extra.slots_available',
       'extra.uid', 'network_id', 'extra.address', 'extra.last_updated',
       'extra.renting', 'extra.returning'],
      dtype='object')

In [11]:
stations_df=stations[['id','name','latitude', 'longitude', 'free_bikes','network_id']].copy()
stations_df.head()

,id,name,latitude,longitude,free_bikes,network_id
0,116978dc6ed165d95a1ce386466bf165,a,50.946176,1.891176,0,vel-in
1,3b58c82f8aca0fd26a55dd5fcb82f9ec,b,50.960770,1.873922,0,vel-in
2,fedaa58e592a7e4156cf9f89e3f44560,01 : Lafayette,50.946609,1.858303,0,vel-in
3,a75dfb30a2a5e87b7ad50863923461ce,02 : Théatre,50.947377,1.853769,1,vel-in
4,9723c2436cfc9652882bf1b7c7e182e7,04 : Gare SNCF,50.953303,1.851278,2,vel-in

***Put your parsed results into a DataFrame.***

In [12]:
stations_df.rename(columns={"id": "station_id","name":"station", "free_bikes": "no_of_bikes"},inplace=True)

In [13]:
stations_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   station_id   69 non-null     object
 1   station      69 non-null     object
 2   latitude     69 non-null     float64
 3   longitude    69 non-null     float64
 4   no_of_bikes  69 non-null     int64
 5   network_id   69 non-null     object
dtypes: float64(2), int64(1), object(3)
memory usage: 3.4+ KB

***Note:*** The above data shows there is no null or missing values. For now we consider it clean and save the data in csv for future use.

In [14]:
stations_df.to_csv('../data/calais_stations.csv', index=False)